{% extends 'base_list.html' %}
{% load static %}

{% block columns %}
    <td>Foto</td>
    <td>Nombre</td>
    <td>Opciones</td>
{% endblock %}

{% block rows %}
    {% if object_list %}
        {% for obj in object_list %}
            <tr>
                <td>{{ obj.link_foto }}</td>
                <td>{{ obj.nombre }}</td>
                <td>
                    <button class="btn btn-success circular mb-1 btn-sm asociado-details" id="{{ obj.pk }}">
                        <i class="mdi mdi-magnify-plus-outline"></i>
                    </button>
                    {% if user.is_authenticated %}
                        <a href="{% url 'asociado-update' obj.id %}" class="btn mb-1 btn-warning btn-sm circular"><i
                                class="mdi mdi-square-edit-outline"></i></a>
                        <a href="{% url 'asociado-delete' obj.id %}" class="btn mb-1 btn-danger btn-sm circular"><i
                                class="mdi mdi-trash-can-outline"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td> No hay datos para mostrar</td>
        </tr>
    {% endif %}
{% endblock %}

{% block javascript %}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content circular">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                    <img src="#" class="card-img-top" alt="..." id="image-asociado">
                    <div>
                        <strong>Link de contacto: </strong>
                        <a href="#" id="link"></a>
                    </div>
                    <div>
                        <strong>Teléfono: </strong>
                        <span id="telefono"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary circular" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <script>
      $('.asociado-details').on('click', function () {
        let id = this.id,
          params = new FormData()
        params.append('id', this.id)
        params.append('action', 'asociado-details')
        submit_with_ajax(location.pathname, params, response => {
          console.log(response['foto'])
          $('#modal-title').text(response['nombre'])
          document.querySelector('#image-asociado').src = response['foto']
          document.querySelector('#link').href = response.link
          document.querySelector('#link').innerText = response.link
          document.querySelector('#telefono').innerText = response.telefono
          $('#exampleModal').modal('show')
        })
      })
    </script>
{% endblock %}