{% extends 'base_list.html' %}
{% load static %}

{% block columns %}
    <td>Foto</td>
    <td>Nombre</td>
    <td>Teléfono</td>
    <td>Opciones</td>
{% endblock %}

{% block rows %}
    {% if object_list %}
        {% for obj in object_list %}
            <tr>
                <td>{{ obj.link_foto }}</td>
                <td>{{ obj.nombre }}</td>
                <td>{{ obj.telefono }}</td>
                <td>
                    <a href="{% url 'asociado-update' obj.id %}" class="btn btn-warning btn-sm circular"><i
                            class="mdi mdi-square-edit-outline"></i></a>
                    <a href="{% url 'asociado-delete' obj.id %}" class="btn btn-danger btn-sm circular"><i
                            class="mdi mdi-trash-can-outline"></i></a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td> No hay datos para mostrar</td>
        </tr>
    {% endif %}
{% endblock %}