{% extends 'body.html' %}
{% load widget_tweaks %}
{% block head %}
    {% block head_form %}

    {% endblock %}
{% endblock %}
{% block content %}
    <form method="post" action="." enctype="multipart/form-data">
        <div class="card card-info circular">
            <div class="card-header circular-top">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="mdi mdi-plus"></i>
                    {% else %}
                        <i class="mdi mdi-square-edit-outline"></i>
                    {% endif %}

                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                <div class=" form-group row">
                    <label for="asd" class="col-sm-2 col-form-label">Tipo de denuncia:</label>
                    <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="tipo" type="checkbox" id="inlineCheckbox1"
                                   value="Abandono">
                            <label class="form-check-label" for="inlineCheckbox1">Abandono</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="tipo" type="checkbox" id="inlineCheckbox2"
                                   value="Mal estado físico">
                            <label class="form-check-label" for="inlineCheckbox2">Mal estado físico</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="tipo" type="checkbox" id="inlineCheckbox3"
                                   value="Hacinamiento">
                            <label class="form-check-label" for="inlineCheckbox3">Hacinamiento</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="tipo" type="checkbox" id="inlineCheckbox4"
                                   value="Violencia física">
                            <label class="form-check-label" for="inlineCheckbox4">Violencia física</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="tipo" type="checkbox" id="inlineCheckbox5"
                                   value="Causar la muerte">
                            <label class="form-check-label" for="inlineCheckbox5">Causar la muerte</label>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="action" value="{{ action }}">
                {% if form.errors %}
                    <div class="alert alert-danger circular alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                        <h5><i class="icon mdi mdi-content-save-settings"></i>Ha ocurrido un error al querer guardar el
                            registro</h5>
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% for field in form.visible_fields %}
                    <div class="form-group row">
                        <label for="asd" class="col-sm-2 col-form-label">{{ field.label }}:</label>
                        <div class="col-sm-10">
                            {{ field|add_class:'circular'|attr:'autocomplete:off' }}
                        </div>
                    </div>
                {% endfor %}



                <div class="form-group row">
                    <label for="asd" class="col-sm-2 col-form-label">Fotos de evidencia</label>
                    <div class="col-sm-10">
                        <input type="file" multiple accept="image/*" class="form-control-file form-control circular"
                               name="image">
                    </div>
                </div>
            </div>
            <div class="card-footer circular-bottom">
                <button type="submit" class="btn bg-gradient-primary circular">
                    <i class="mdi mdi-email-send-outline"></i> Enviar {{ entity }}
                </button>
                <a href="{{ list_url }}" class="btn bg-gradient-danger circular">
                    <i class="mdi mdi-cancel"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
    <script>
      {% if form.errors %}
        let errors = '';
        {% for field in form %}
          {% for error in field.errors %}
            errors += '{{ error }}\n';
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          errors += '{{ error }}\n';
        {% endfor %}

        Swal.fire({
          title: 'Error',
          text: errors,
          icon: 'error'
        });
      {% endif %}
    </script>
{% endblock %}