{% extends 'base_list.html' %}
{% load static %}
{% block search %}
    <div class="text-right d-flex flex-row-reverse">
        <form action="." method="get" class="form-inline">
            <input type="date" class="form-control form-control-sm m-1 w-auto" name="initial">
            <input type="date" class="form-control form-control-sm m-1 w-auto" name="end">
            <button class="btn btn-light btn-sm m-1">Filtrar</button>
        </form>
    </div>
{% endblock %}
{% block columns %}

    <td>Evidencia</td>
    <td>Características</td>
    <td>Fecha</td>
    <td>Opciones</td>
{% endblock %}

{% block rows %}
    {% if object_list %}
        {% for obj in object_list %}
            <tr>
                <td>{{ obj.link_foto }}</td>
                <td>{{ obj.caracteristicas }}</td>
                <td>{{ obj.date_creation|date:'d-m-Y' }}</td>
                <td>
                    <a href="{% url 'denuncia-details' obj.pk %}" class="btn btn-success btn-sm circular">
                        <i class="mdi mdi-magnify-plus-outline"></i>
                    </a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'denuncia-update' obj.id %}" class="btn btn-warning btn-sm circular"><i
                                class="mdi mdi-square-edit-outline"></i></a>
                        <a href="{% url 'denuncia-delete' obj.id %}" class="btn btn-danger btn-sm circular"><i
                                class="mdi mdi-trash-can-outline"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td> No hay datos para mostrar</td>
        </tr>
    {% endif %}
{% endblock %}
