{% extends 'base_list.html' %}
{% load static %}

{% block columns %}

    <td>Fecha</td>
    <td>Ficha</td>
    <td>Tipo</td>
    <td>Peso</td>
    <td>Opciones</td>
{% endblock %}

{% block rows %}
    {% if object_list %}
        {% for obj in object_list %}
            <tr>
                <td>{{ obj.fecha|date:'d-m-Y' }}</td>
                <td>{{ obj.ficha }}</td>
                <td>{{ obj.tipo }}</td>
                <td>{{ obj.peso }}</td>
                <td>
                    <a href="{% url 'desparasitacion-update' obj.id %}" class="btn btn-warning btn-sm circular"><i
                            class="mdi mdi-square-edit-outline"></i></a>
                    <a href="{% url 'desparasitacion-delete' obj.id %}" class="btn btn-danger btn-sm circular"><i
                            class="mdi mdi-trash-can-outline"></i></a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td> No hay datos para mostrar</td>
        </tr>
    {% endif %}
{% endblock %}
