{% extends 'base_list.html' %}
{% load static %}
{% block search %}
    <div class="text-right d-flex flex-row-reverse">
        <form action="." method="get" class="form-inline">
            <input type="date" class="form-control form-control-sm m-1 w-auto" name="initial">
            <input type="date" class="form-control form-control-sm m-1 w-auto" name="end">
            <button class="btn btn-light btn-sm m-1">Filtrar</button>
        </form>
    </div>
{% endblock %}
{% block columns %}

    <td>Fecha</td>
    <td>Ficha</td>
    <td>Tipo</td>
    <td>Peso (Kg)</td>
    <td>Opciones</td>
{% endblock %}

{% block rows %}
    {% if object_list %}
        {% for obj in object_list %}
            <tr>
                <td>{{ obj.fecha|date:'d-m-Y' }}</td>
                <td>{{ obj.ficha }}</td>
                <td>{{ obj.get_tipo_display }}</td>
                <td>{{ obj.peso }}</td>
                <td>
                    <a href="{% url 'desparasitacion-update' obj.id %}" class="btn mb-1 btn-warning btn-sm circular"><i
                            class="mdi mdi-square-edit-outline"></i></a>
                    <a href="{% url 'desparasitacion-delete' obj.id %}" class="btn mb-1 btn-danger btn-sm circular"><i
                            class="mdi mdi-trash-can-outline"></i></a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td> No hay datos para mostrar</td>
        </tr>
    {% endif %}
{% endblock %}
