{% extends 'base_list.html' %}
{% load static %}

{% block head_list %}
{% endblock %}

{% block columns %}

{% endblock %}

{% block rows %}
    {% if object_list %}
        {% for obj in object_list %}
            <div class="card ">
                <div class="card-header bg-gray-light">
                    {{ obj.nombre }}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ obj.descripcion }}</p>
                </div>
                <div class="card-footer text-right">
                    <a href="{% url 'enfermedad-update' obj.pk %}" class="btn btn-warning btn-sm circular"><i
                            class="mdi mdi-square-edit-outline"></i> Editar</a>
                    <a href="{% url 'enfermedad-delete' obj.pk %}"
                       class="btn btn-danger btn-sm circular"><i
                            class="mdi mdi-trash-can-outline"></i> Eliminar</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <tr>
            <td> No hay datos para mostrar</td>
        </tr>
    {% endif %}
{% endblock %}
{% block javascript %}

{% endblock %}
