{% extends 'base_list.html' %}
{% load static %}

{% block head_list %}
{% endblock %}

{% block columns %}
{% endblock %}

{% block rows %}
    <div class="detalle-tienda-cards row">
        {% if object_list %}
            {% for obj in object_list %}
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card card-product">
{#                        <a style="color: inherit">#}
                        <a href="{{ obj.foto.url }}"><img src="{{ obj.foto.url }}" class="card-img-top p-2"
                                 alt="prueba"></a>
                            <div class="card-body">
                                <span class="text-lg font-weight-bold truncate-1">{{ obj.nombre }}:</span>
                                <p class="truncate-1"><b>Tipo:</b> {{ obj.tipo }}</p>
                                <p class="text-truncate-4">{{ obj.detalles }}</p>
                                <span><b>{{ obj.fecha }}</b></span>
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'evento-update' obj.pk %}" class="btn btn-warning btn-sm circular"><i
                                        class="mdi mdi-square-edit-outline"></i> Editar</a>
                                <a href="{% url 'evento-delete' obj.pk %}"
                                   class="btn btn-danger btn-sm circular"><i
                                        class="mdi mdi-trash-can-outline"></i> Eliminar</a>
                            </div>
{#                        </a>#}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
{% block javascript %}

{% endblock %}
