{% extends 'base_list.html' %}
{% load static %}

{% block head_list %}
{% endblock %}
{% block search %}
    <div class="text-right d-flex flex-row-reverse">
        <form action="." method="get" class="form-inline">
            <input type="date" class="form-control form-control-sm m-1 w-auto" name="initial">
            <input type="date" class="form-control form-control-sm m-1 w-auto" name="end">
            <button class="btn btn-light btn-sm m-1">Filtrar</button>
        </form>
    </div>
{% endblock %}

{% block columns %}
{% endblock %}

{% block rows %}
    <div class="detalle-tienda-cards row">
        {% if object_list %}
            {% for obj in object_list %}
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card card-product circular">
                        {#                        <a style="color: inherit">#}
                        <a href="{{ obj.foto.url }}"><img src="{{ obj.foto.url }}" class="card-img-top p-2"
                                                          alt="prueba"></a>
                        <div class="card-body">
                            <span class="text-lg font-weight-bold truncate-1">{{ obj.nombre }}:</span>
                            <p class="truncate-1"><b>Tipo:</b> {{ obj.get_tipo_display }}</p>
                            <div class="collapse" id="detail{{ obj.id }}">
                                <p class="truncate- ">{{ obj.detalles }}</p>
                            </div>
                            <span><b>{{ obj.fecha }}</b></span>
                        </div>
                        <div class="card-footer text-right circular-bottom">
                            <button class="btn btn-primary mb-1 btn-sm circular" type="button" data-toggle="collapse"
                                    data-target="#detail{{ obj.id }}" aria-expanded="false"
                                    aria-controls="collapseExample"><i class="mdi mdi-magnify-plus-outline"></i>
                                Detalles
                            </button>
                            {% if user.is_authenticated %}
                                <a href="{% url 'evento-update' obj.pk %}" class="btn mb-1 btn-warning btn-sm circular"><i
                                        class="mdi mdi-square-edit-outline"></i> Editar</a>
                                <a href="{% url 'evento-delete' obj.pk %}"
                                   class="btn btn-danger btn-sm circular mb-1"><i
                                        class="mdi mdi-trash-can-outline"></i> Eliminar</a>
                            {% endif %}
                        </div>
                        {#                        </a>#}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
{% block javascript %}

{% endblock %}
