{% extends 'base_list.html' %}
{% load static %}
{% load qr_code %}
{% load concact_str %}

{% block head_list %}
    {#    <script src="{% static 'contrato.js' %}"></script>#}
{% endblock %}

{% block columns %}
    {#    <td>No</td>#}
    <td>Foto</td>
    <td>Qr</td>
    <td>Nombre</td>

    <td>Opciones</td>
{% endblock %}

{% block rows %}
    {% if object_list %}
        {% for obj in object_list %}
            <tr class="">
                <td>{{ obj.link_foto }}</td>
                {#                <td>{{ obj.link_qr }}</td>#}
                {#                <td>{% qr_from_text request.build_absolute_uri|concat_string:obj.pk size=5 version=12 %}</td>#}
                <td>
                    {% qr_from_text 'http://'|concat_string:request.get_host|concat_string:'/'|concat_string:'ficha/details/'|concat_string:obj.pk size=8 version=3 border=4 %}
                </td>
                <td>{{ obj.nombre }}</td>
                <td class="">
                    <a class="btn btn-success btn-sm circular ficha-details mb-1"
                       id="{{ obj.id }}"><i class="mdi mdi-magnify"></i></a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'ficha_update' obj.id %}" class="btn mb-1 btn-warning btn-sm circular"><i
                                class="mdi mdi-square-edit-outline"></i></a>
                        <a href="{% url 'ficha_delete' obj.id %}" class="btn mb-1 btn-danger btn-sm circular"><i
                                class="mdi mdi-trash-can-outline"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td> No hay datos para mostrar</td>
        </tr>
    {% endif %}
{% endblock %}
{% block buttons_list %}
    {% if user.is_authenticated %}
        <div class="card-footer circular-bottom">
        <a href="{{ create_url }}" class="btn btn-primary btnAdd circular">
            <i class="mdi mdi-plus"></i> Crear {{ entity }}
        </a>
    {% endif %}

{#<a href="#" class="btn btn-info circular" id="scan-qr">#}
{#    <i class="mdi mdi-qrcode-scan"></i> Escanear Qr#}
{#</a>#}
</div>
{% endblock %}
{% block javascript %}
    {% include 'modal_ficha.html' %}
    <script src="{% static 'ficha.js' %}"></script>
{% endblock %}
