{% extends 'base_list.html' %}
{% load static %}

{% block head_list %}
{% endblock %}

{% block columns %}
    {% comment %}    <td>Titulo</td>
    <td>Texto</td>
    <td>Opciones</td>{% endcomment %}
{% endblock %}

{% block rows %}
    {% if object_list %}
        {% comment %}        {% for obj in object_list %}
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title">{{ obj.title }}</span>
                    </div>
                    <div class="card-body">
                        <span>{{ obj.texto }}</span>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'informacion-update' obj.pk %}" class="btn btn-warning btn-sm circular"><i
                                class="mdi mdi-square-edit-outline"></i> Editar</a>
                        <a href="{% url 'informacion-delete' obj.pk %}" class="btn btn-danger btn-sm circular"><i
                                class="mdi mdi-trash-can-outline"></i> Eliminar</a>
                    </div>
                </div>
            </div>
        {% endfor %}{% endcomment %}
        {% for obj in object_list %}
            <div class="card w-100 shadow-none border-bottom rounded-0 card-s-cart">
                <div class="row no-gutters">
                    <div class="col-4 col-sm-3 my-auto">
                        <img class="card-img circular" src="{{ obj.foto.url }}"
                             alt="Suresh Dasari Card">
                    </div>
                    <div class="col-8 col-sm-9">
                        <div class="card-body ">
                            <h5 class=" truncate-1">{{ obj.title }}</h5>
                            <span>{{ obj.texto }}</span>
                            <br>
                            <div class="text-right">
                                <a href="{% url 'informacion-update' obj.pk %}" class="btn btn-warning btn-sm circular"><i
                                        class="mdi mdi-square-edit-outline"></i> Editar</a>
                                <a href="{% url 'informacion-delete' obj.pk %}"
                                   class="btn btn-danger btn-sm circular"><i
                                        class="mdi mdi-trash-can-outline"></i> Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <tr>
            <td> No hay datos para mostrar</td>
        </tr>
    {% endif %}
{% endblock %}
{% block javascript %}

{% endblock %}
