{% extends 'body.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head %}
    {% block head_list %}

    {% endblock %}
{% endblock %}

{% block content %}

    <div class="card card-info circular m-0">
        <div class="card-header circular-top">
            <h3 class="card-title">
                <i class="mdi mdi-format-list-bulleted-square mdi-18px"></i>
                {{ title }}
            </h3>
            {% block search %}

            {% endblock %}
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-2" style="min-height: 325px;">
            <table id="listTable" class="table  table-striped w3-hoverable-light">
                <thead>
                {% block columns %}

                {% endblock %}

                </thead>
                <tbody id="tbody">

                {% block rows %}

                {% endblock %}

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        {% block buttons_list %}
            <div class="card-footer circular-bottom">
                <a href="{{ create_url }}" class="btn btn-primary btnAdd circular">
                    <i class="mdi mdi-plus"></i> Crear {{ entity }}
                </a>
            </div>
        {% endblock %}

    </div>
    <!-- /.card -->
    {% block modal_form %}
        <!-- Modal Create_Update -->
        {#        {% include 'modal.html' %}#}
    {% endblock %}


{% endblock %}

{% block javascript %}

{% endblock %}