{% extends 'body.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head %}
    {% block head_list %}

    {% endblock %}
{% endblock %}

{% block content %}

    <div class="card card-info circular m-0">
        <div class="card-header circular-top row mx-0">
            <div class="col-12 col-sm-6 px-0">
                {% if user.is_authenticated %}
                    <a href="{{ create_url }}" class="btn btn-secondary btn-sm circular">
                        <i class="mdi mdi-plus"></i> Crear
                    </a>
                {% endif %}
                <h5 class="mb-0 d-inline-block">
                    <i class="mdi mdi-format-list-bulleted-square mdi-18px"></i>
                    {{ title }}
                </h5>
            </div>
            <div class="col-12 col-sm-6 px-0">
                {% block search %}

                {% endblock %}
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-2" style="min-height: 325px;">
            <table id="listTable" class="table  table-striped w3-hoverable-light">
                <caption>Mostrando {{ object_list.count }} {% if object_list.count == 1 %}
                    resultado{% else %} resultados {% endif %}</caption>
                <thead>
                {% block columns %}

                {% endblock %}

                </thead>
                <tbody id="tbody">

                {% block rows %}

                {% endblock %}

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        {% block buttons_list %}
            {% if user.is_authenticated %}
                <div class="card-footer circular-bottom">
                    <a href="{{ create_url }}" class="btn btn-primary btnAdd circular">
                        <i class="mdi mdi-plus"></i> Crear {{ entity }}
                    </a>
                </div>
            {% endif %}
        {% endblock %}

    </div>
    <!-- /.card -->
    {% block modal_form %}
        <!-- Modal Create_Update -->
        {#        {% include 'modal.html' %}#}
    {% endblock %}


{% endblock %}

{% block javascript %}

{% endblock %}