{% load static %}
<!--    modal-->
<div class="modal fade modal-card " id="ficha-info" tabindex="-1" role="dialog" aria-labelledby="user-info"
     aria-hidden="true" style="min-width: 350px;height: auto;padding: 0" data-target="#user-info">
    <div class="modal-dialog modal-dialog-popout modal-dialog-scrollable modal" role="document">
        <div class="modal-content circular border-0 shadow-none">
            <div class="modal-header border-bottom-0 circular-top py-2">
                <h5 class="modal-title user-select-none">
                    <img src="{% static 'img/logo/promo (61).png' %}"
                         alt="TechnoSTAR Logo"
                         style="margin-left: .4rem;" width="40" height="30">
                    DETALLES DEL ANIMAL
                </h5>
                <button type="button" class="btn-close mt-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>

            <div class="modal-body p-0 circular-bottom bg-light">
                <div class="card card-body widget-user mb-0">
                    <div class="row">
                        <div class="col-6 text-center p-0">
                            <img class="circular agrandar" src="" style="height: 150px;width: 150px"
                                 alt="User Avatar" id="ficha-image">
                        </div>
                        <div class="col-6 text-center p-0">
                            <img class="agrandar" src="" style="height: 150px;width: 150px"
                                 alt="User Avatar" id="qr-image">
                        </div>
                    </div>
                    <div class="card-body circular-bottom">
                        <div class="row">
                            <div class="col-6">
                                <div class="truncate-1">
                                    <span class="d-sm-inline-block d-none">Nombre:</span>
                                    <span id="modal-name" class="text-muted"></span>
                                </div>
                                <div class="truncate-1">
                                    <span class="d-sm-inline-block d-none">Identidad: </span>
                                    <span class="text-muted" id="modal-iden"> </span>
                                </div>
                                <div class="truncate-1">
                                    <span class="d-sm-inline-block d-none">Sexo: </span>
                                    <span class="text-muted" id="modal-sexo"> </span>
                                </div>
                               <div class="truncate-1">
                                    <span class="d-sm-inline-block d-none">Esterilizado: </span>
                                    <span class="text-muted" id="modal-esterilizado"> </span>
                                </div>
{% comment %}                                <div class="icheck-primary" style="opacity: 1">
                                    <input type="checkbox" disabled id="modal-esterilizado"/>
                                    <label for="is_staff" style="opacity: 1">Esterilizado</label>
                                </div>{% endcomment %}
                            </div>
                            <div class="col-6">
                                <div class="truncate-1">
                                    <span class="d-sm-inline-block d-none">Color:</span>
                                    <span class="text-muted" id="modal-color"> </span>
                                </div>
                                <div class="truncate-1">
                                    <span class="d-sm-inline-block d-none">Peso:</span>
                                    <span class="text-muted" id="modal-peso"> -------</span>
                                </div>
                                <div class="truncate-1">
                                    <span class="d-sm-inline-block d-none">Raza:</span>
                                    <span class="text-muted" id="modal-raza"> -------</span>
                                </div>
                            </div>
{% comment %}                            <div class="col-12 user-groups">
                                <span class="d-inline-block"><i class="mdi mdi-account-group-outline"></i>
                                <span class="d-sm-inline-block d-none">Groups:</span>
                                <span id="groups"></span></span>
                            </div>
                            <div class="col-12 user-biography pt-1">
                                <span class="d-inline-block"><i class="mdi mdi-account-card-details-outline"></i>
                                <span class="d-sm-inline-block d-none">About me:</span>
                                <span class="text-muted" id="about"> bla bla</span></span>
                            </div>{% endcomment %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>