{% load static %}
<!--    modal-->
<div class="modal fade modal-card  " id="ficha-info" tabindex="-1" role="dialog" aria-labelledby="user-info"
     aria-hidden="true" style="height: auto;padding: 0" data-target="#user-info">
    <div class="modal-dialog modal-lg modal-dialog-popout modal-dialog-scrollable modal" role="document">
        <div class="modal-content circular border-0 shadow-none">
            <div class="modal-header border-bottom-0 circular-top py-2">
                <h5 class="modal-title user-select-none">
                    <img src="{% static 'img/logo/promo (61).png' %}"
                         alt="TechnoSTAR Logo"
                         style="margin-left: .4rem;" width="40" height="30">
                    DETALLES DEL ANIMAL
                </h5>
                <button type="button" class="btn-close mt-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>

            <div class="modal-body p-0 circular-bottom bg-light">
                <div class="card card-body widget-user mb-0">
                    <div class="row">
                        <div class="col-6 text-center p-0">
                            <img class="circular agrandar" src="" style="height: 150px;width: 150px"
                                 alt="User Avatar" id="ficha-image">
                        </div>
                        <div class="col-6 text-center p-0">
                            <img class="agrandar" src="" style="height: 150px;width: 150px"
                                 alt="User Avatar" id="qr-image">
                        </div>
                    </div>
                    <div class="card-body px-0 circular-bottom">
                        <div class="row">
                            <div class="col-6">
                                <div class="truncate-1">
                                    <strong class="d-sm-inline-block d-none">Nombre:</strong>
                                    <span id="modal-name" class=""></span>
                                </div>
                                <div class="truncate-1">
                                    <strong class="d-sm-inline-block d-none">Sexo: </strong>
                                    <span class="" id="modal-sexo"> </span>
                                </div>
                                <div class="truncate-1">
                                    <strong class="d-sm-inline-block d-none">Esterilizado: </strong>
                                    <span id="modal-esterilizado"> </span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="truncate-1">
                                    <strong class="d-sm-inline-block d-none">Color:</strong>
                                    <span id="modal-color"> </span>
                                </div>
                                <div class="truncate-1">
                                    <strong class="d-sm-inline-block d-none">Peso:</strong>
                                    <span  id="modal-peso"> -------</span>
                                </div>
                                <div class="truncate-1">
                                    <strong class="d-sm-inline-block d-none">Raza:</strong>
                                    <span  id="modal-raza"> -------</span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="">
                                    <strong class="d-sm-inline-block d-none">Enfermedades: </strong>
                                    <span  id="modal-enfermedades"> </span>
                                </div>
                            </div>
                            <div class="rayita-light"></div>
                            <div class="col-12">
                                <h5>Vacunas</h5>
                                <table class="table table-bordered table-hover table-sm">
                                    <thead>
                                    <tr>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Producto</th>
                                        <th scope="col">Fecha Siguiente</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tabla-vacuna">
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12">
                                <h5>Desparasitación</h5>
                                <table class="table table-bordered table-hover table-sm">
                                    <thead>
                                    <tr>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Peso</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tabla-desparasitacion">
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>