{% load static %}
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <a href="{% url 'index' %}" class="brand-link">
        <img src="{% static 'img/logo/logocc.png' %}"
             alt="AdminLTE Logo"
             class="brand-image img-circle"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Corazón Canino</span>
    </a>
    <div class="sidebar">
        {% comment %}    {% if request.user.is_authenticated %}
        <div class="user-panel py-2  d-flex">
            <div class="info">
                <a href="{% url 'index' %}" class="d-block">{{ request.user.username }}</a>
            </div>
        </div>
        <div class="rayita-light"></div>
        {% endif %}{% endcomment %}
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Principal</li>
                <li class="nav-item">
                    <a href="{% url 'ficha_list' %}" class="nav-link ficha-sidebar">
                        <i class="nav-icon mdi mdi-dog-service"></i>
                        <p>
                            Fichas
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'vacuna-list' %}" class="nav-link vacuna-sidebar">
                        <i class="nav-icon mdi mdi-needle"></i>
                        <p>
                            Vacunas
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'desparasitacion-list' %}" class="nav-link desparasitacion-sidebar">
                        <i class="nav-icon mdi mdi-bug"></i>
                        <p>
                            Desparasitaciones
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'denuncia-list' %}" class="nav-link denuncia-sidebar">
                        <i class="nav-icon mdi mdi-chat-alert"></i>
                        <p>
                            Denuncias
                        </p>
                    </a>
                </li>
                <li class="nav-header">Conoce más</li>
                <li class="nav-item">
                    <a href="{% url 'evento-list' %}" class="nav-link evento-sidebar">
                        <i class="nav-icon mdi mdi-calendar-alert"></i>
                        <p>
                            Eventos
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'informacion-list' %}" class="nav-link informacion-sidebar">
                        <i class="nav-icon mdi mdi-information"></i>
                        <p>
                            Informaciones
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'enfermedad-list' %}" class="nav-link enfermedades-sidebar">
                        <i class="nav-icon mdi mdi-bacteria"></i>
                        <p>
                            Enfermedades
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'medicamento-list' %}" class="nav-link medicamento-sidebar">
                        <i class="nav-icon mdi mdi-pill"></i>
                        <p>
                            Medicamentos
                        </p>
                    </a>
                </li>
                <li class="nav-header">Colaboradores</li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'visita-list' %}" class="nav-link visita-sidebar">
                            <i class="nav-icon mdi mdi-account-group"></ "></i>
                            <p>
                                Visitas
                            </p>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'asociado-list' %}" class="nav-link asociado-sidebar">
                        <i class="nav-icon mdi mdi-account-multiple-check"></i>
                        <p>
                            Asociados
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contacto-list' %}" class="nav-link contacto-sidebar">
                        <i class="nav-icon mdi mdi-account-multiple"></i>
                        <p>
                            Contactos
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
