{% load static %}
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <a href="{% url 'index' %}" class="brand-link">
        <img src="{% static 'img/logo/logocc.png' %}"
             alt="AdminLTE Logo"
             class="brand-image img-circle"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Corazón Canino</span>
    </a>
    <div class="sidebar">
        {% comment %}    {% if request.user.is_authenticated %}
        <div class="user-panel py-2  d-flex">
            <div class="info">
                <a href="{% url 'index' %}" class="d-block">{{ request.user.username }}</a>
            </div>
        </div>
        <div class="rayita-light"></div>
        {% endif %}{% endcomment %}
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                {#                <li class="nav-header">Algo</li>#}
                <li class="nav-item">
                    <a href="{% url 'ficha_list' %}" class="nav-link ficha-sidebar">
                        <i class="nav-icon mdi mdi-dog "></i>
                        <p>
                            Fichas
                        </p>
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'visitante_list' %}" class="nav-link visitante-sidebar">
                            <i class="nav-icon mdi mdi-account "></i>
                            <p>
                                Visitantes
                            </p>
                        </a>
                    </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'visita-list' %}" class="nav-link visita-sidebar">
                            <i class="nav-icon mdi mdi-file-document "></i>
                            <p>
                                Gestionar Visitas
                            </p>
                        </a>
                    </li>
                {% endif %}
                {% comment %}                {% if request.user.role == 'admin' or request.user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'balita:venta_list' %}" class="nav-link venta-sidebar">
                            <i class="nav-icon mdi mdi-cart"></i>
                            <p>
                                Ventas
                            </p>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'balita:reserva_list' %}" class="nav-link reserva-sidebar">
                        <i class="nav-icon mdi mdi-checkbox-multiple-marked"></i>
                        <p>
                            Reservaciones
                        </p>
                    </a>
                </li>
                <div class="rayita-light"></div>
                <li class="nav-header">Contrataciones</li>
                {% if request.user.role == 'admin' or request.user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'balita:contrato_list' %}" class="nav-link contrato-sidebar">
                            <i class="nav-icon mdi mdi-file-document"></i>
                            <p>
                                Contratos
                            </p>
                        </a>
                    </li>
                {% endif %}
                {% if request.user.role == 'admin' or request.user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'user:user_list' %}" class="nav-link user-sidebar">
                            <i class="nav-icon mdi mdi-account-group"></i>
                            <p>
                                Usuarios
                            </p>
                        </a>
                    </li>
                {% endif %}{% endcomment %}
            </ul>
        </nav>
    </div>
</aside>
